/* You can add global styles to this file, and also import other style files */

@import "assets/scss/variables";
@import "assets/scss/icons";
@import "assets/scss/mixins";
@import "assets/scss/helpers";
@import "assets/scss/animations";
html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 11px;
    line-height: 1.7em;
    overflow: hidden;
    user-select: none;
    color: $primary;
    font-family: $fontFamily2;
    font-weight: 500;
    background: map-get($backgrounds, shade-D);
    position: relative;
    box-shadow: inset 0 0 150px 150px rgba(map-get($backgrounds, shade-A), .7);
    z-index: 0;
    margin: 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: url('assets/images/background.jpg');
        background-size: cover;
        z-index: 0;
        box-shadow: inset 0 0 150px 150px rgba(black, .3);
        mix-blend-mode: overlay;
        filter: opacity(0.8) saturate(1.5) blur(6px);
    }
    &::after {
        content: '';
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.green {
    color: #64ff26;
}

.red {
    color: #ff5c51;
}

strong {
    font-weight: normal;
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

button {
    height: 40px;
    font-size: 17px;
    padding: 0;
    transition: $transition;
    cursor: pointer;
    @include button(#423957,
    white);
    &.debug {
        @include button(#a51d29,
        white);
    }
    &:hover {
        filter: brightness(150%);
    }
    &:active {
        filter: brightness(50%);
    }
}

p {
    color: $smooth;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.tooltip {
    position: absolute;
    left: -1000px;
    top: -1000px;
    z-index: 30000;
    display: block;
    // @include panel();
    border-radius: 5px;
    .tooltip-wrapper {
        position: relative;
        z-index: 6;
        padding: 40px;
        max-width: 400px;
        @include panel();
    }
}

.damage-physical {
    color: $physicalDamage;
}

.damage-magic,
.damage-magical {
    color: $magicDamage;
}

.effect-decorator {
    color: $effect;
}

.spell-decorator {
    font-weight: bold;
    //color: $spell;
}

.enemy-decorator {
    color: $enemy;
}

.ally-decorator {
    color: $ally;
}

.heal {
    color: $heal;
}

.equipment-effect {
    color: #ec7ae7;
}