<div class="flex center-align combat-viewport">
    <div class="allies flex">
        <civ-item-characters class="slot-{{i}}" [damageAnimation]="ally.id" [damageDisplay]="ally.id" [current-turn]="actorTurn?.id === ally.id" *ngFor="let ally of getAllies(); let i = index" [character]="ally" [on-click]="true" (click)="setTarget(ally)" [isTarget]="target?.id === ally.id"
            [civ-tooltip]="ally">
            <div #damage></div>
        </civ-item-characters>
    </div>
    <civ-next-turn-button [log]="combatLog" [mode]="mode" (nextActorTurn)="selectNextActorTurn()" (begin)="beginCombat()" (endGame)="endGame()" (getLoot)="getLoot()"></civ-next-turn-button>
    <div class="enemies flex">
        <civ-item-characters [damageAnimation]="enemy.id" [damageDisplay]="enemy.id" [current-turn]="actorTurn?.id === enemy.id" *ngFor="let enemy of getEnemies()" [character]="enemy" (click)="setTarget(enemy)" [isTarget]="target?.id === enemy.id" [on-click]="true"
            [civ-tooltip]="enemy">
            <div #damage></div>
        </civ-item-characters>
    </div>
</div>


<div class="actions flex" *ngIf="actorTurn && actorTurn.possessed && mode === 2">
    <!--<civ-log [log]="combatLog" class="combat-log"></civ-log> -->
    <!--<button (click)="getLoot()" class="debug">Fin du combat</button>-->
    <char-deco [attr.character]="actorTurn.name" [attr.big]="true"></char-deco>
    <civ-progress-bar [current]="actorTurn.health.current" [max]="actorTurn.health.max" [color]="'#eb4444'"></civ-progress-bar>
    <div class="turn-wrapper">
        <civ-spell-list *ngIf="mode === 2" [actor]="actorTurn" [target]="target" [allies]="getAllies()" [enemies]="getEnemies()" (damageDone)="endPlayerTurn($event)"></civ-spell-list>
    </div>
</div>
<template #lootContainer></template>