@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
:host {
    width: 350px;
    .tooltip-wrapper {
        padding-left: 60px;
    }
    .name {
        font-size: 20px;
        font-family: $fontFamily;
    }
    .description {
        color: map-get($texts, shade-B);
        margin: 10px 0;
    }
}
