@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
:host {
    position: relative;
    padding-left: 22px;
}

civ-effects {
    position: absolute;
    top: -4px;
    left: 0;
    display: block;
    /*&::before {
        content: '';
        position: absolute;
        display: block;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        @include wrapper();
        border-radius: 50%;
    }*/
}