:host {
    &.disabled {
        filter: saturate(0) contrast(.6) brightness(.7);
    }
    &.ai .character {
        transform: scaleX(-1);
    }
}

.character {
    width: 60px;
    height: 80px;
    filter: drop-shadow(0 0 5px black) saturate(0.7) brightness(0.9);
    &.KEVIN {
        background-image: url('../../../../assets/images/characters/kevin.png');
    }
    &.LOIC {
        background-image: url('../../../../assets/images/characters/loic.png');
    }
    &.CLEMENT {
        background-image: url('../../../../assets/images/characters/clement.png');
    }
    &.QUENTIN {
        background-image: url('../../../../assets/images/characters/quentin.png');
    }
    &.ADRIEN {
        background-image: url('../../../../assets/images/characters/adrien.png');
    }
    &.COSTY {
        background-image: url('../../../../assets/images/characters/costy.png');
    }
    &.MARIE {
        background-image: url('../../../../assets/images/characters/marie.png');
    }
    &.SANDIE {
        background-image: url('../../../../assets/images/characters/sandie.png');
    }
    &.PATRONLOURD,
    &.CONSEILLERMUNICIPAL,
    &.PATRONABUSIF {
        background-image: url('../../../../assets/images/characters/patron.png');
    }
    &.PETITERACAILLE {
        background-image: url('../../../../assets/images/characters/racaille.png');
    }
    &.VIEILLECONNAISSANCE,
    &.FAUXAMI {
        background-image: url('../../../../assets/images/characters/connaissance.png');
    }
    &.COVID {
        background-image: url('../../../../assets/images/characters/covid.png');
    }
    &.VACCIN,
    &.ASTRA-ZENECA {
        background-image: url('../../../../assets/images/characters/vaccin.png');
    }
    &.WHISKY,
    &.MAGNUM {
        background-image: url('../../../../assets/images/characters/whisky.png');
    }
    &.KAREN,
    &.KARENSURMONTEE {
        background-image: url('../../../../assets/images/characters/karen.png');
    }
    &.PETITBONHOMME {
        background-image: url('../../../../assets/images/characters/petitbonhomme.png');
    }
    &.MMEALBERGE {
        background-image: url('../../../../assets/images/characters/alberge.png');
    }
    &.AMANT {
        background-image: url('../../../../assets/images/characters/amant.png');
    }
    &.ENFANT {
        background-image: url('../../../../assets/images/characters/enfant.png');
    }
    &.MILOU {
        background-image: url('../../../../assets/images/characters/milou.png');
    }
    &.POLICIER {
        background-image: url('../../../../assets/images/characters/police.png');
    }
    &.FRANCISLALANE {
        background-image: url('../../../../assets/images/characters/francis.png');
    }
    &.IVOIRIEN {
        background-image: url('../../../../assets/images/characters/ivoirien.png');
    }
    &.SERPENT {
        background-image: url('../../../../assets/images/characters/serpent.png');
    }
    &.VIRGINIE {
        background-image: url('../../../../assets/images/characters/virginie.png');
    }
    &.big {
        width: 90px;
        height: 120px;
        &.KEVIN {
            background-image: url('../../../../assets/images/characters/kevin@2x.png');
        }
        &.LOIC {
            background-image: url('../../../../assets/images/characters/loic@2x.png');
        }
        &.CLEMENT {
            background-image: url('../../../../assets/images/characters/clement@2x.png');
        }
        &.QUENTIN {
            background-image: url('../../../../assets/images/characters/quentin@2x.png');
        }
        &.ADRIEN {
            background-image: url('../../../../assets/images/characters/adrien@2x.png');
        }
        &.COSTY {
            background-image: url('../../../../assets/images/characters/costy@2x.png');
        }
        &.MARIE {
            background-image: url('../../../../assets/images/characters/marie@2x.png');
        }
        &.SANDIE {
            background-image: url('../../../../assets/images/characters/sandie@2x.png');
        }
        &.PATRONLOURD,
        &.CONSEILLERMUNICIPAL,
        &.PATRONABUSIF {
            background-image: url('../../../../assets/images/characters/patron@2x.png');
        }
        &.PETITERACAILLE {
            background-image: url('../../../../assets/images/characters/racaille@2x.png');
        }
        &.VIEILLECONNAISSANCE,
        &.FAUXAMI {
            background-image: url('../../../../assets/images/characters/connaissance@2x.png');
        }
        &.COVID {
            background-image: url('../../../../assets/images/characters/covid@2x.png');
        }
        &.VACCIN,
        &.ASTRA-ZENECA {
            background-image: url('../../../../assets/images/characters/vaccin@2x.png');
        }
        &.MILOU {
            background-image: url('../../../../assets/images/characters/milou@2x.png');
        }
        &.WHISKY,
        &.MAGNUM {
            background-image: url('../../../../assets/images/characters/whisky@2x.png');
        }
        &.KAREN,
        &.KARENSURMONTEE {
            background-image: url('../../../../assets/images/characters/karen@2x.png');
        }
        &.PETITBONHOMME {
            background-image: url('../../../../assets/images/characters/petitbonhomme@2x.png');
        }
        &.MMEALBERGE {
            background-image: url('../../../../assets/images/characters/alberge@2x.png');
        }
        &.AMANT {
            background-image: url('../../../../assets/images/characters/amant@2x.png');
        }
        &.POLICIER {
            background-image: url('../../../../assets/images/characters/police@2x.png');
        }
        &.ENFANT {
            background-image: url('../../../../assets/images/characters/enfant@2x.png');
        }
        &.FRANCISLALANE {
            background-image: url('../../../../assets/images/characters/francis@2x.png');
        }
        &.IVOIRIEN {
            background-image: url('../../../../assets/images/characters/ivoirien@2x.png');
        }
        &.VIRGINIE {
            background-image: url('../../../../assets/images/characters/virginie@2x.png');
        }
        &.SERPENT {
            background-image: url('../../../../assets/images/characters/serpent@2x.png');
        }
    }
}