<div class="loot-wrapper">
    <div class="title">Statistiques</div>
    <div class="description">

    </div>
    <div class="flex loot-table">
        <div class="hero-stat" *ngFor="let hero of heroStats">
            <div>{{ hero.hero }}</div>
            <div *ngFor="let spell of hero.spellStats" class="spell-stat">
                <div class="name"> {{spell.spell }}</div>
                <div *ngIf="spell.damage > 0 || spell.heal > 0">
                    <div *ngIf="spell.damage > 0" class="flex space-between"><span>Dégâts:</span><span> {{ spell.damage }}</span></div>
                    <div *ngIf="spell.heal > 0" class="flex space-between"><span>Soins:</span> <span> {{ spell.heal }}</span></div>
                </div>
                <div *ngIf="spell.damage === 0 && spell.heal === 0">
                    Aucune statistique sur ce sort pour le moment.</div>

            </div>
        </div>
    </div>
    <button (click)="closePanel()">Fermer</button>
</div>
<div class="overlay"></div>