@import "../../../../assets/scss/variables";
:host {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    &:not(.disabled):hover {
        @include hoverEffect();
    }
    &.disabled {
        filter: saturate(0) contrast(.6) brightness(.7);
    }
    .value {
        position: absolute;
        bottom: -8px;
        right: 1px;
        font-weight: bold;
        color: white;
        text-shadow: $textShadow;
    }
    .spell {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background: url('../../../../assets/images/spells/default.png');
        z-index: 2;
        &::before {
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            box-shadow: inset 0 8px 19px -10px white;
            z-index: 3;
            border-radius: 5px;
        }
        &.ATTAQUE {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1548px -1131px;
        }
        &.JONGLAGE {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1322px -1189px;
        }
        &.ENTRAINEMENT {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1015px -1245px;
        }
        &.SEDUCTION {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1436px -1131px;
            filter: hue-rotate(-29deg);
        }
        &.ESCALADE {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1549px -1020px;
            filter: hue-rotate(5deg);
        }
        &.ECRANDE {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1186px -1358px;
            filter: hue-rotate(114deg);
        }
        &.AMANDINE {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -902px -1077px;
            filter: hue-rotate(-157deg)
        }
        &.DISCUSSIONINSENSEE {
            background-image: url('../../../../assets/images/spells/sprite-3.jpg');
            background-position: -947px -513px;
            background-size: 648px;
        }
        &.FRONTLISSE {
            background-image: url('../../../../assets/images/spells/spell-sprite-2.png');
            background-position: -1366px -835px;
            background-size: 871px;
        }
        &.TETELA {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1549px -1076px;
        }
        &.MAURICE {
            background-image: url('../../../../assets/images/spells/spell-sprite-2.png');
            background-position: -37px -779px;
            background-size: 871px;
        }
        &.SERPENTS {
            background-image: url('../../../../assets/images/spells/spell-sprite-2.png');
            background-position: -556px -662px;
            background-size: 871px;
        }
        &.PIGEON {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1378px -1302px;
        }
        &.SMARTLIFE {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -902px -1302px;
        }
        &.DEBATPOLITIQUE {
            background-image: url('../../../../assets/images/spells/sprite-3.jpg');
            background-position: -947px -612px;
            background-size: 648px;
            filter: hue-rotate(45deg);
        }
        &.FUITE {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1185px -1022px;
            filter: hue-rotate(55deg);
        }
        &.NOOB {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1376px -1022px;
            filter: hue-rotate(105deg);
        }
        &.PLAYLIST {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1071px -1300px;
            filter: hue-rotate(175deg)
        }
        &.TRAGOSOCIAL {
            background-image: url('../../../../assets/images/spells/spell-sprite-1.jpg');
            background-size: 871px;
            background-position: -1661px -1357px;
        }
    }
}