@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
:host {
    //mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, transparent 100%);
    &.show .log {
        display: block;
        @include panel();
    }
    .log {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 350px;
        height: 30vh;
        display: none;
        padding: 20px;
        flex-direction: column;
        justify-content: flex-end;
        color: map-get($texts, shade-B);
        overflow: auto;
    }
    .log-item {
        flex-shrink: 0;
        margin-bottom: 10px;
        white-space: nowrap;
    }
    .damage-instances {
        padding-left: 20px;
        white-space: nowrap;
    }
}
