@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
:host {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 30px black);
    .map-content {
        position: relative;
        display: block;
        height: 100vh;
        opacity: 0;
        width: 100vw;
    }
    .map-wrapper {
        position: relative;
        background: url('../../../assets/images/map/map_background.png');
        width: 870px;
        padding: 250px 50px 50px 50px;
        box-sizing: border-box;
    }
    .rows {
        display: flex;
        .cols {
            width: 110px;
            height: 150px;
            .node {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .line {
        position: absolute;
        height: 2px;
        transform-origin: left;
        z-index: 0;
        background-image: linear-gradient(to right, #b48a4c 33%, rgba(#2d2c30, 0) 0%);
        background-position: bottom;
        background-size: 15px 2px;
        background-repeat: repeat-x;
    }
    .top-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 63px;
        background: url('../../../assets/images/top-bar.png');
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        z-index: 100;
        .score {
            display: flex;
            align-items: center;
            font-family: $fontFamily;
            font-size: 19px;
            text-shadow: $textShadow;
            position: relative;
            top: -8px;
            color: map-get($texts, shade-A);
            height: 40px;
            margin-right: 80px;
        }
        .money {
            background: url('../../../assets/images/map/shop.png') no-repeat;
            background-size: contain;
            height: 40px;
            width: 100px;
            display: flex;
            align-items: center;
            padding-left: 50px;
            font-family: $fontFamily;
            font-size: 19px;
            text-shadow: $textShadow;
            position: relative;
            top: -8px;
            color: map-get($texts, shade-A);
        }
        .characters-content {
            display: flex;
            position: relative;
            top: 15px;
            .char-wrapper {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: #201d12;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-left: 30px;
                @include wrapper();
                .dead {
                    filter: saturate(0) contrast(0.7);
                }
                .name {
                    position: absolute;
                    bottom: -8px;
                    font-family: $fontFamily;
                    font-size: 15px;
                    z-index: 2;
                }
                civ-progress-bar {
                    height: 6px;
                    position: absolute;
                    bottom: -11px;
                    left: -5px;
                    right: -5px;
                    z-index: 1;
                }
            }
        }
    }
}