<div class="map-content" #mapContainer>
    <ng-scrollbar class="scroll">
        <div #mapWrapper class="map-wrapper">
            <div *ngFor="let levels of map" class="rows">
                <div *ngFor="let level of levels" class="cols">
                    <div class="node" *ngIf="level" [mapNode]="level" (click)="launch(level)">
                        <civ-map-node [node]="level"></civ-map-node>
                    </div>
                </div>
            </div>
        </div>
    </ng-scrollbar>
</div>