@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    background: url('../../../../assets/images/map/top-bar.png');
    background-position: left bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 30px;
    z-index: 10000;
    .score {
        display: flex;
        align-items: center;
        font-family: $fontFamily;
        font-size: 19px;
        text-shadow: $textShadow;
        position: relative;
        top: -8px;
        color: map-get($texts, shade-A);
        height: 40px;
        margin-right: 80px;
    }
    .money {
        background: url('../../../../assets/images/map/shop.png') no-repeat;
        background-size: contain;
        height: 40px;
        width: 100px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        font-family: $fontFamily;
        font-size: 19px;
        text-shadow: $textShadow;
        position: relative;
        top: -8px;
        color: map-get($texts, shade-A);
        margin-right: 60px;
    }
    .buttons {
        position: relative;
        top: -8px;
        @include wrapper();
        padding: 3px;
        button:first-child {
            margin-right: 3px;
        }
    }
    .characters-content {
        display: flex;
        position: relative;
        flex: 1;
        top: 15px;
        flex-direction: row-reverse;
        margin-right: 50px;
        .char-wrapper {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #201d12;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-left: 30px;
            @include wrapper();
            .dead {
                filter: saturate(0) contrast(0.7);
            }
            .name {
                position: absolute;
                bottom: -8px;
                font-family: $fontFamily;
                font-size: 15px;
                z-index: 2;
                color: white;
            }
            civ-progress-bar {
                height: 6px;
                position: absolute;
                bottom: -11px;
                left: -5px;
                right: -5px;
                z-index: 1;
            }
        }
    }
}